body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
    text-align: center;
}

header {
    padding: 20px;
    margin: 20px;
    text-align: center;
    background: #ebebeb;
    width: 100%;
}

#nav {
    padding: 20px;
    margin: 20px;
    text-align: center;
    background: #ebebeb;
    width: 100%;
}

section {
    overflow: auto;
    color: #777;
    background: #ebebeb;
    float: left;
    width: 50%;
    margin: 20px;
    padding: 10px;
}

article {
    color: #ebebeb;
    background: #777;
    overflow: auto;
    margin: 5px;
}

#headers {
    background: #ebebeb;
    color: #777;
    margin: 20px;
    padding: 20px;
}

#p {
    background: #ebebeb;
    color: #777;
    margin: 20px;
    padding: 20px;
}

aside {
    background: #ebebeb;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

footer {
    background: #ebebeb;
    width: 100%;
    clear: both;
    padding: 20px;
    margin: 20px;
}